include ../a-card/a-card

#test
	+a-card('../assets/images/1.jpg', 'Как выбрать санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Последний страна решила, текстами снова! Раз которое проектах переписывается, большого!', '25.01.2017')
	+a-card('../assets/images/2.jpg', 'Как выбрать санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текстами дал скатился предложения города журчит он языкового рыбного алфавит!', '25.01.2017')
	+a-card('../assets/images/3.jpg', 'Как выбрать самый лучший санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Курсивных встретил своих безопасную пунктуация меня рот ты сбить, вершину!', '25.01.2017')
	+a-card('../assets/images/4.jpg', 'Как выбрать санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предупредила последний, единственное деревни lorem. О ты даже, путь рукописи.', '25.01.2017')
	+a-card('../assets/images/2.jpg', 'Как выбрать санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текстами дал скатился предложения города журчит он языкового рыбного алфавит!', '25.01.2017')
	+a-card('../assets/images/3.jpg', 'Как выбрать самый лучший санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Курсивных встретил своих безопасную пунктуация меня рот ты сбить, вершину! asdgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfg', '25.01.2017')
.test2
	+a-card('../assets/images/1.jpg', 'Как выбрать санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Последний страна решила, текстами снова! Раз которое проектах переписывается, большого!', '25.01.2017')
	+a-card('../assets/images/2.jpg', 'Как выбрать санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текстами дал скатился предложения города журчит он языкового рыбного алфавит!', '25.01.2017')
	+a-card('../assets/images/3.jpg', 'Как выбрать самый лучший санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Курсивных встретил своих безопасную пунктуация меня рот ты сбить, вершину!', '25.01.2017')
	+a-card('../assets/images/4.jpg', 'Как выбрать санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предупредила последний, единственное деревни lorem. О ты даже, путь рукописи.', '25.01.2017')
	+a-card('../assets/images/2.jpg', 'Как выбрать санаторий', ' Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текстами дал скатился предложения города журчит он языкового рыбного алфавит!', '25.01.2017')