.smallee
	padding 40px 0
	display block
		
	&-slider
		position relative
		margin 0 auto
		// padding 0 15px
		+media('min', 768)
			width 750px
		+media('min', 992)
			width 970px
		+media('min', 1200)
			width 1170px
		
	&-inner
		top 0
		left 0
		transition ease-in-out time-s
		clearfix()
			
	&-next,
	&-prev
		position absolute
		z-index 1
		top 30%
		padding 10px
		display inline-block
		size(50px)
		background-color #fff
		border-radius 50%
		box-shadow bs-down
		transition time-s
		
		+media('max', 539)
			size(40px)
		
	&-prev
		left 30px
			
	&-next
		right 30px
			
	&_disabled
		visibility hidden
		opacity 0
		
	&-icon-arrow
		size(30px)
		fill green
		+media('max', 539)
			size(20px)
		
		&_left
			transform rotate(180deg)