// Clearfix.
clearfix()
	&:after
		display table
		clear both
		content ''
		
// Set element size
size($width, $height = $width)
	width $width
	height $height
	
// Media query: max/min - for single query; mult - for multiple
media($type, $value1, $value2 = '')
	if $type =='mult'
		@media screen and (max-width: ($value1)px) and (min-width: ($value2)px)
			{block}
	else
		@media screen and ({$type}-width: ($value1)px)
			{block}
			
// Main color
main($opacity)
	rgba(31, 34, 62, $opacity)