// Transition time
time-s = .3s
time-l = .7s

// Colors. Main color realised as a mixin
green = #95c41f
grey = #606060
lightgrey = #f5f5f5
middlegrey = #ccc

// Box shadow
bs-down = 0 1px 3px 1px rgba(0, 0, 0, .5)
bs = 0 0 3px 1px rgba(0, 0, 0, .5)