mixin a-card(src, title, desc, date)
	+b.a-card&attributes(attributes)
		+e.wrapper
			+e.img-wrapper
				+e('a').link(href='/')
					+e('img').img(src= src)
			+e.cont-wrapper
				+e.title-wrapper
					+e('a').link(href='/')= title
					+e('span').date
						span= date
				+e('p').preview= desc
				+e.more-wrapper
					+e('a').link._more(href='/') Читать дальше