body
  margin 0
  padding 40px 0 0
  height 100%
  font inherit
  box-sizing border-box

.a-card
  // padding 0 15px
  display block
  
  &:hover 
    & ^[0]__wrapper
      border-bottom 5px solid green

    & ^[0]__img
      transform scale(1.1)
      
    & ^[0]__link
      color green
      
    & ^[0]__link_more
      color green
      
    & ^[0]__title-wrapper:before
      background-color green
    
  &__wrapper
    padding-bottom 10px
    height 100%
    background-color lightgrey
    border-bottom 5px solid transparent
    transition .7s
    
  &__img-wrapper
    position relative
    overflow hidden
    
  &__link
    padding-bottom 4px
    display block
    font-size 1.4em
    line-height 1
    text-decoration none
    color #fff
    transition .7s
    
    &_more
      font-size 1.2em
      color grey

  &__img
    display block
    width 100%
    height auto
    transition transform .7s
    
  &__cont-wrapper
    padding 15px
    
  &__title-wrapper
    position relative
    &:before
      content ''
      position absolute
      top 0
      left -15px
      size(5px, 100%)
      background-color main(1)
      transition .7s

  &__date	
    display block
    color grey
    span
      vertical-align middle
      

  &__preview
    padding 10px 0
    color grey
    
  &__icon
    margin-right 4px
    // size(20px)
    fill grey
    vertical-align middle
    
.grid
  margin 0 auto
  padding 0 15px

  @media screen and (min-width: 1200px)
    width 1170px

  @media screen and (max-width: 1199px) and (min-width: 992px)
    width 970px

  @media screen and (max-width: 991px) and (min-width: 768px)
    width 750px

  @media screen and (max-width: 767px)
    width auto